Source: gnome-icon-theme-gnamon
Section: gnome
Priority: extra
Maintainer: Luis Alejandro Martínez Faneyth <luis@huntingbears.com.ve>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/gnome-icon-theme-gnamon.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/gnome-icon-theme-gnamon/trees/master

Package: gnome-icon-theme-gnamon
Architecture: all
Pre-Depends: gnome-icon-theme
Depends: ${misc:Depends}, hicolor-icon-theme, libgtk-3-bin, librsvg2-common
Description: Conjunto de íconos basados en Faenza y Faience
  Conjunto de íconos basados en Faenza y Faience
